services:
  app:
    container_name: recycle-study-server
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - app_log:/app/log
    networks:
      - observability
    depends_on:
      mysql:
        condition: service_healthy

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy
      - app_log:/app/log
    command:
      - "run"
      - "--server.http.listen-addr=0.0.0.0:12345"
      - "--storage.path=/var/lib/alloy"
      - "--stability.level=experimental"
      - "/etc/alloy/config.alloy"
    ports:
      - "12345:12345" # Alloy UI
      - "14317:4317"   # OTLP gRPC
    networks:
      - observability

  node-exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    networks:
      - observability

  mysql:
    container_name: recycle-study-mysql
    image: mysql:8.4
    volumes:
      - mysql_volume:/var/lib/mysql
    restart: unless-stopped
    ports:
      - "33306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - observability

volumes:
  mysql_volume:
  app_log:

networks:
  observability:
