services:
  mysql:
    image: mysql:8.4
    volumes:
      - mysql_volume:/var/lib/mysql
    restart: unless-stopped
    ports:
      - "33306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}

volumes:
  mysql_volume:
