apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    uid: tempo_ds
    access: proxy
    orgId: 1
    url: http://tempo:3200
    basicAuth: false
    isDefault: false
    version: 1
    editable: true
